:root {
    --bs-info: #0269c7;
}

.e-toast-container .e-toast.e-toast-danger:hover {
    background-color: #cb7409;
}


.dialog-max-content {
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    max-height: max-content !important;
    min-height: 65rem !important;
    overflow-y: visible !important;
    z-index: 100 !important;
}

    .dialog-max-content .e-dlg-content {
        background-color: transparent !important;
        overflow: inherit !important;
        min-height: 65rem !important;
        max-height: max-content !important;
    }



.btn-outline-info {
    color: var(--bs-info);
    border-color: var(--bs-info);
}

    .btn-outline-info:hover:not(.active) {
        background-color: #0098da47;
        box-shadow: none;
        color: var(--bs-info);
    }

.btn-outline-primary {
    color: #118b91;
    border-color: #118b91;
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #118b91;
        border-color: #118b91;
    }

        .btn-outline-primary:hover:not(.active) {
            background-color: #118b913d;
            box-shadow: none;
            color: #118b91;
        }



.e-card {
    border-radius: 15px;
}

    .e-card .card-header {
        padding: 1.5rem;
    }

    .e-card .e-card-content {
        font-family: "Open Sans";
    }


.e-pager .e-currentitem, .e-pager .e-currentitem:hover {
    background: #0269c7;
}

.table-responsive {
    border-radius: 10px;
}

.btn-rounded {
    border-radius: 15px;
}

.mr-1 {
    margin-right: 10px;
}


.e-btn.e-icon-btn, .e-css.e-btn.e-icon-btn {
    padding: 2px 7px 2px;
    font-size: .8rem;
}


.form-control {
    font-size: 0.8rem;
    border-radius: 0.5rem !important;
}


.card-form-items {
    padding: 0;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-bottom: 2.5rem;
    height: fit-content;
    min-height: 155px;
}

    .card-form-items:hover {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 22%);
    }

    .card-form-items .card-header-min {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
        padding: 0.5rem 1rem;
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

        .card-form-items .card-header-min label {
            margin: 5px;
            font-size: 1rem;
        }

    .card-form-items .card-body-min {
        padding: 0.5rem 1rem;
    }



.validation-message {
    color: red;
    font-size: .8rem;
}



.d-flex-center {
    display: flex !important;
    align-content: center;
    justify-content: center;
    align-items: center;
}


/*#region ---- PreLoader ---- */

.loader, .loader-min {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1111;
    overflow-x: hidden;
    background: #fff;
}

.loader-min {
    min-height: 110px;
    position: initial;
}

.loader-inner {
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cssload-loader {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 2em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

    .cssload-loader,
    .cssload-loader:before,
    .cssload-loader:after {
        animation: 1.15s infinite ease-in-out;
        -o-animation: 1.15s infinite ease-in-out;
        -webkit-animation: 1.15s infinite ease-in-out;
        -moz-animation: 1.15s infinite ease-in-out;
    }

        .cssload-loader:before,
        .cssload-loader:after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(310deg, var(--bs-info) 0%, #0098da 100%);
            transform: scale(0);
            -o-transform: scale(0);
            -ms-transform: scale(0);
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            animation: cssload-animation 1.73s infinite ease-in-out;
            -o-animation: cssload-animation 1.73s infinite ease-in-out;
            -webkit-animation: cssload-animation 1.73s infinite ease-in-out;
            -moz-animation: cssload-animation 1.73s infinite ease-in-out;
        }

        .cssload-loader:after {
            animation-delay: 0.86s;
            -o-animation-delay: 0.86s;
            -webkit-animation-delay: 0.86s;
            -moz-animation-delay: 0.86s;
        }


.cssload-loader-min {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 2em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

    .cssload-loader-min,
    .cssload-loader-min:before,
    .cssload-loader-min:after {
        animation: 1.15s infinite ease-in-out;
        -o-animation: 1.15s infinite ease-in-out;
        -webkit-animation: 1.15s infinite ease-in-out;
        -moz-animation: 1.15s infinite ease-in-out;
    }

        .cssload-loader-min:before,
        .cssload-loader-min:after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(310deg, var(--bs-info) 0%, #0098da 100%);
            transform: scale(0);
            -o-transform: scale(0);
            -ms-transform: scale(0);
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            animation: cssload-animation 1.73s infinite ease-in-out;
            -o-animation: cssload-animation 1.73s infinite ease-in-out;
            -webkit-animation: cssload-animation 1.73s infinite ease-in-out;
            -moz-animation: cssload-animation 1.73s infinite ease-in-out;
        }

        .cssload-loader-min:after {
            animation-delay: 0.86s;
            -o-animation-delay: 0.86s;
            -webkit-animation-delay: 0.86s;
            -moz-animation-delay: 0.86s;
        }


.cssload-loader-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 .5rem 0 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

    .cssload-loader-button,
    .cssload-loader-button:before,
    .cssload-loader-button:after {
        animation: 1.15s infinite ease-in-out;
        -o-animation: 1.15s infinite ease-in-out;
        -webkit-animation: 1.15s infinite ease-in-out;
        -moz-animation: 1.15s infinite ease-in-out;
    }

        .cssload-loader-button:before,
        .cssload-loader-button:after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(310deg, var(--bs-info) 0%, #0098da 100%);
            transform: scale(0);
            -o-transform: scale(0);
            -ms-transform: scale(0);
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            animation: cssload-animation 1.73s infinite ease-in-out;
            -o-animation: cssload-animation 1.73s infinite ease-in-out;
            -webkit-animation: cssload-animation 1.73s infinite ease-in-out;
            -moz-animation: cssload-animation 1.73s infinite ease-in-out;
        }

        .cssload-loader-button:after {
            animation-delay: 0.86s;
            -o-animation-delay: 0.86s;
            -webkit-animation-delay: 0.86s;
            -moz-animation-delay: 0.86s;
        }


.e-btn.e-outline.e-info:disabled, .e-css.e-btn.e-outline.e-info:disabled {
    background-color: transparent;
    border-color: #0098da;
    box-shadow: none;
    color: #3a4449;
}




@keyframes cssload-animation {
    0% {
        transform: translateX(-100%) scale(0);
    }

    50% {
        transform: translateX(0%) scale(1);
    }

    100% {
        transform: translateX(100%) scale(0);
    }
}

@-o-keyframes cssload-animation {
    0% {
        -o-transform: translateX(-100%) scale(0);
    }

    50% {
        -o-transform: translateX(0%) scale(1);
    }

    100% {
        -o-transform: translateX(100%) scale(0);
    }
}

@-ms-keyframes cssload-animation {
    0% {
        -ms-transform: translateX(-100%) scale(0);
    }

    50% {
        -ms-transform: translateX(0%) scale(1);
    }

    100% {
        -ms-transform: translateX(100%) scale(0);
    }
}

@-webkit-keyframes cssload-animation {
    0% {
        -webkit-transform: translateX(-100%) scale(0);
    }

    50% {
        -webkit-transform: translateX(0%) scale(1);
    }

    100% {
        -webkit-transform: translateX(100%) scale(0);
    }
}

@-moz-keyframes cssload-animation {
    0% {
        -moz-transform: translateX(-100%) scale(0);
    }

    50% {
        -moz-transform: translateX(0%) scale(1);
    }

    100% {
        -moz-transform: translateX(100%) scale(0);
    }
}


/*#endregion ---- Loader ends ---- */


.e-input-group.e-success, .e-input-group.e-control-wrapper.e-success, .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left) {
    border-bottom-color: #22b24b00;
}

svg text {
    display: none;
}

/*#region Alertas*/

.alert-icon {
    font-family: LineAwesome;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;
    content: '\f2b2';
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    grid-row: 2;
    grid-column: 1;
}

p.alert-text {
    grid-row: 2;
    grid-column: 1;
    margin: 0.5rem;
}

    p.alert-text a {
        cursor: pointer;
    }

strong.alert-text {
    grid-row: 1;
    grid-column: 1;
}

.alert-pers-warning, .alert-pers-warning-min, .alert-pers-info, .alert-pers-info-min, .alert-pers-default, .alert-pers-default-min {
    width: 80%;
    overflow-wrap: normal;
    margin: auto;
    line-height: 1.8rem;
    border: 1px solid;
    color: darkslategrey;
    padding: 0.2rem;
    border-radius: 1.2rem;
    margin-top: 1rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    display: grid;
    align-items: center;
    justify-items: center;
}

.alert-pers-warning, .alert-pers-warning-min {
    border-color: #f7b900;
    background-color: rgb(247 185 0 / 25%);
}

.alert-pers-warning-min {
    width: 30%;
}

.alert-pers-info, .alert-pers-info-min {
    border-color: rgb(77 177 226 / 100%);
    background-color: rgb(77 177 226 / 25%);
}

.alert-pers-info-min {
    width: 50%;
}

.alert-pers-default, .alert-pers-default-min {
    border-color: rgb(156 156 156);
    background-color: rgb(156 156 156 / 25%);
}

.alert-pers-default-min {
    width: 50%;
}

/*#endregion Alertas*/



.e-toast-container .e-toast.e-toast-danger {
    background-color: #eb8e1b;
    color: #fff;
    border-radius: 10px;
}


.img-qr {
    max-width: 20rem;
    min-width: 200px !important;
    height: auto;
}


.modal {
    z-index: 15000;
}

.modal-backdrop {
    z-index: 10000;
}
