
<div class="d-flex justify-content-md-center align-items-center" style=" min-height: 10rem; ">
    <div class="alert round alert-amber alert-icon-left alert-dismissible mb-2 text-center col-10" role="alert">
        <span class="alert-icon">
            <i class="fas fa-times"></i>
        </span>
        <strong>Could not load data.</strong>
        <br />
        @*Verifique su conexión a internet y presione el boton de <strong>Actualizar</strong>*@
        @*Verifique su conexión a internet y presione <a class="text-primary" @onclick="(() => CargarInformacion())">aquí</a>*@
    </div>
</div>