
@*<div class="d-flex justify-content-md-center align-items-center" style=" min-height: 10rem; ">
    <div class="alert round alert-secondary alert-icon-right mb-2 text-center col-10" role="alert">
        <strong>Cargando..</strong>
        <span class="alert-icon">
            <i class="fas fa-sync"></i>
        </span>
    </div>
</div>*@

<div class="loader-min">
    <div class="loader-inner d-flex justify-content-center align-items-center">
        <div class="cssload-loader-min"></div>
    </div>
</div>