
<div class="content-body p-1" style=" width: 70%; margin: 0 auto;">
    <div class="row justify-content-md-center align-items-center" style=" min-height: 10rem; ">
        <div class="col-6">
            <div class="alert round alert-amber alert-icon-left alert-dismissible mb-2 text-center" role="alert">
                <span class="alert-icon">
                    <i class="fas fa-user-times"></i>
                </span>
                <strong>No está autorizado.</strong>
                <p>Intente loguearse desde <a href="/login">aquí</a>.</p>
            </div>
        </div>
    </div>
</div>
