@page "/recreatetables"
@inject HttpClient Http
@inject IURLs_Services _URLs
@inject IGlobalConfiguration_Services _GlobalConfiguration
@inject IGlobalElements_Services _GlobalElements
@inject IToast_Services _Toast
@layout EmptyLayout

<div class="d-flex-center h-100 p-4" style="padding-top: 6rem !important;">

    <h3>@_Text</h3>

</div>

@code {
    public string _Text { get; set; } = "Recreating";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            StateHasChanged();

            var response = await HttpClass.GetOnly(Http, await _URLs.Recreate_Tables(), _Toast);
            _Text = "Tables recreated";
        }
        catch (Exception e)
        {
            _GlobalConfiguration.NuevoLog("Could not remove data", SystemActionsEnum.Delete, e, SystemErrorCodesEnum.Error);
            _Toast.ShowError("Could not remove.");
        }
        finally
        {
            StateHasChanged();
        }

    }

}
