@page "/removedata"
@inject HttpClient Http
@inject IURLs_Services _URLs
@inject IGlobalConfiguration_Services _GlobalConfiguration
@inject IGlobalElements_Services _GlobalElements
@inject IToast_Services _Toast

<h3>@_Text</h3>


@code {
    public string _Text { get; set; } = "Removing";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            StateHasChanged();

            var response = await HttpClass.GetOnly(Http,await _URLs.Delete_Data(), _Toast);
            _Text = "Data removed";
        }
        catch (Exception e)
        {
            _GlobalConfiguration.NuevoLog("Could not remove data", SystemActionsEnum.Delete, e, SystemErrorCodesEnum.Error);
            _Toast.ShowError("Could not remove.");
        }
        finally
        {
            StateHasChanged();
        }

    }

}
