@inject NavigationManager NavigationManager

<div class="content-body p-1" style=" width: 70%; margin: 0 auto;">

    <div class="lock"></div>
    <div class="message">
        <h1>Access to this page is restricted</h1>
        <p>Please check with the site admin if you believe this is a mistake.</p>

        <strong>You didn't log in.</strong>
        <p>Login <a href="/login">here</a>.</p>
    </div>


    @*<div class="row justify-content-md-center align-items-center" style=" min-height: 10rem; ">
    <div class="col-6">
    <div class="alert round alert-amber alert-icon-left alert-dismissible mb-2 text-center" role="alert">
    <span class="alert-icon">
    <i class="fas fa-user-times"></i>
    </span>

    </div>
    </div>
    </div>*@
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        NavigationManager.NavigateTo("/");
    }

}