
<div class="d-flex justify-content-md-center align-items-center" style=" min-height: 10rem; ">
    <div class="alert round alert-secondary alert-icon-left alert-dismissible mb-2 text-center col-8" role="alert">
        <span class="alert-icon">
            <i class="fas fa-user-slash"></i>
        </span>
        <strong>Not have permission</strong>
    </div>
</div>
