@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@inject ILocalStorage_Services _LocalStorage
@inject IGlobalElements_Services _GlobalElements


<AuthorizeView>
    <Authorized>

        <div class="container-fluid py-4">
            <NavMenu />

            <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
                <TopMenu _Page="this"
                         _GlobalElements="_GlobalElements" />

                <div class="container-fluid py-4" id="content-body">@Body</div>
            </main>

            <_ToastComponent />
        </div>

    </Authorized>

    <NotAuthorized>
        <_WithoutLogin />
    </NotAuthorized>

</AuthorizeView>


@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (_GlobalElements.User == null)
            {
                _GlobalElements.User = await _LocalStorage.GetDecodified_Login();

                //if (_GlobalElements.User == null)
                //    NavigationManager.NavigateTo("/");
            }
        }
        catch (Exception) { }

        //_GlobalElements.OnChange += _GlobalElements_Changed;
        //_GlobalConfiguration.OnChange += _GlobalConfiguration_Changed;
    }

    //private void _GlobalElements_Changed()
    //{
    //    StateHasChanged();
    //}

    //private void _GlobalConfiguration_Changed()
    //{
    //    StateHasChanged();
    //}

}